<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

     {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'photo/home.css' %}">
<!--    <style>-->
<!--      main { -->
<!--      background-image: url(뭐먹지.jpg) no-repeat center fixed;-->
<!--      background-size: cover;-->
<!--      }-->
<!--      </style>-->
    
</head>
<body>
  <div class="main" style="width: 1100px; height: 590px; position: relative; background-image: url(../뭐먹지.jpg)">
      <div class="Group6">
        <div class="Text" > </div>
        <div class="Ellipse20" ></div>
        <div class="Ellipse21" ></div>
        <div class="Ellipse22" ></div>
        <div class="Ellipse23" ></div>
        <div class="Ellipse24" ></div>
        <div class="Ellipse25"></div>
        <div class="Ellipse26" ></div>
      </div>
      <div class="Group8" style="width: 266px; height: 80px; left: 417px; top: 396px; position: absolute">
        <div class="Rectangle3" style="width: 266px; height: 80px; left: 0px; top: 0px; position: absolute; background: #D7F3F9; border-radius: 15px"></div>
        <div class="LetSGo" style="width: 202px; height: 48px; left: 32px; top: 16px; position: absolute; color: black; font-size: 40px; font-family: Gaegu; font-weight: 400; word-wrap: break-word">
            <a href="{% url 'list' %}">LET’s GO!</a></div>
      </div>

      <div class="Group7">
        <div class="Rectangle4"></div>
        <div class="Group1" >
          <div class ="today">오늘 </div>
          <div class =" what">뭐</div>
          <div class = "eat">먹지?</div>
        </div>
      </div>
    </div>
</body>
</html>