<html lang="en">
<head>
    <meta charset="utf-8">

    <title>food list</title>
    <meta name="description" content="Figma htmlGenerator">
    <meta name="author" content="htmlGenerator">
    <link href="https://fonts.googleapis.com/css?family=Gaegu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="page2.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'photo/list.css' %}">

</head>

<body>
<div class="screen">
    <div class="e1_2"></div>
    <div class="e1_3"></div>
    <div class="e1_4"></div>
    <div class="e1_5"></div>
    <div class="e1_6"></div>
    <div class="e1_7"></div>
    <span class="e1_8"> 선택하면 추천 메뉴가 나와요</span>
    <span class="e1_9">한식</span><span class="e1_10">간편식</span>
    <span class="e1_11">중식</span>
    <span class="e1_12">일식</span>
    <span class="e1_13">양식</span>
    <span class="e1_14">아시안</span>
</div>
</body>
</html>
