.main {
        background-image: url('뭐먹지.jpg') no-repeat center fixed;
        background-size: cover;
        width: 1100px; 
        height: 590px; 
        position: relative;
        
        }
.Group6{
    width: 483px;
    height: 184.19px; 
    left: 94px; 
    top: -292px; 
    position: absolute
}
Text {
    width: 209.61px; 
    height: 94.55px; 
    left: 273.39px; 
    top: 33.89px; 
    position: absolute; 
    color: black; 
    font-size: 48px; 
    font-family: Gaegu; 
    font-weight: 400; 
    word-wrap: break-word
}
.Ellipse20 {
    width: 136.92px;
    height: 105.25px; 
    left: 57.09px; 
    top: 0px; 
    position: absolute; 
    background: linear-gradient(0deg, #D7F3F9 0%, #D7F3F9 100%)
    linear-gradient(0deg, #D7F3F9 0%, #D7F3F9 100%)
    linear-gradient(0deg, #D7F3F9 0%, #D7F3F9 100%)
    linear-gradient(0deg, #D7F3F9 0%, #D7F3F9 100%)

}
.Ellipse21 {
    width: 60.65px; 
    height: 57.98px;
    left: 163.68px; 
    top: 13.38px; 
    position: absolute;
    background: #D7F3F9; 
    border-radius: 9999px"
}
.Elliipse22 {
    width: 116.40px; 
    height: 102.58px; 
    left: 183.75px; 
    top: 16.50px; 
    position: absolute; 
    background: #D7F2F9"
}
.Ellipse23 {
    width: 179.73px; 
    height: 126.66px; 
    left: 112.39px; 
    top: 46.38px; 
    position: absolute;
    background: #D7F2F9;
}
.Ellips24 {
    width: 111.05px; 
    height: 69.13px; 
    left: 113.73px; 
    top: 115.06px;
    position: absolute; 
    background: #D7F2F9
}
.Ellips25 {
    width: 94.55px;
    height: 84.74px;
    left: 53.07px;
    top: 82.06px; 
    position: absolute; 
    background: #D7F2F9"
}
.Ellipse26 {
    width: 126.66px; 
    height: 81.63px; 
    left: -0px; 
    top: 44.15px;
    position: absolute; 
    background: #D7F2F9
}
.Group8 {
    width: 266px;
    height: 80px;
    left: 417px;
    top: 396px; 
    position: absolute

}
.LetsGo{
    width: 202px; 
    height: 48px ;
    left: 32px ;
    top: 16px; 
    position: absolute; 
    color: black; 
    font-size: 40px; 
    font-family: Gaegu; 
    font-weight: 400; 
    word-wrap: break-word
}

.Rectangle3{
    width: 266px;
    height: 80px;
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #D7F3F9; 
    border-radius: 15px
}

.Group7 {
    width: 577.85px;
    height: 246px;
    left: 261px;
    top: 95px;
    position: absolute

}
.Rectangle4 {
    width: 577.85px;
    height: 246px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #D7F3F9;
    border-radius: 25px

}
.Group1 {
    width: 409.45px; 
    height: 171.70px;
    left: 130px; 
    top: 28px; 
    position: absolute;

}
.today {
    width: 118.01px;
    height: 26.42px; 
    left: 57.22px;
    top: 0px;
    position: absolute;
    color: black; 
    font-size: 64px; 
    font-family: Gaegu; 
    font-weight: 400;
    word-wrap: break-word
}
.what {
    width: 177.01px;
    height: 39.62px;
    left: 0px; 
    top: 57.79px; 
    position: absolute;
    color: black; 
    font-size: 96px; 
    font-family: Gaegu; 
    font-weight: 400; 
    word-wrap: break-word
}
.eat {
    width: 305.75px;
    height: 113.92px; 
    left: 103.70px; 
    top: 57.79px; 
    position: absolute; 
    color: black; 
    font-size: 128px;
    font-family: Gaegu;
    font-weight: 400;
    word-wrap: break-word

}