@media screen and (min-width: 1024px) {
}

.screen{
    background-color: #ffffff;
    height: 500px;
    width: 680px;
}
.e6_2 {
	background-color:rgba(255, 255, 255, 1);
	width:561px;
	height:299px;
	position:absolute;
}
.e1_2 {
	border-radius:500px;
	background-color:rgba(215.0000023841858, 243.00000071525574, 249.00000035762787, 1);
	width:300px;
	height:150px;
	position:absolute;
	left:100px;
	top:190px;
}
.e1_3 {
	border-radius:500px;
	background-color:rgba(215.0000023841858, 243.00000071525574, 249.00000035762787, 1);
	width:300px;
	height:150px;
	position:absolute;
	left:600px;
	top:190px;
}
.e1_4 {
	border-radius:500px;
	background-color:rgba(215.0000023841858, 243.00000071525574, 249.00000035762787, 1);
	width:300px;
	height:150px;
	position:absolute;
	left:1100px;
	top:190px;
}
.e1_5 {
	border-radius:500px;
	background-color:rgba(215.0000023841858, 243.00000071525574, 249.00000035762787, 1);
	width:300px;
	height:150px;
	position:absolute;
	left:100px;
	top:500px;
}
.e1_6 {
	border-radius:500px;
	background-color:rgba(215.0000023841858, 243.00000071525574, 249.00000035762787, 1);
	width:300px;
	height:150px;
	position:absolute;
	left:600px;
	top:500px;
}
.e1_7 {
	border-radius:500px;
	background-color:rgba(215.0000023841858, 243.00000071525574, 249.00000035762787, 1);
	width:300px;
	height:150px;
	position:absolute;
	left:1100px;
	top:500px;
}
.e1_8 {
	color:rgba(0, 0, 0, 1);

	position:absolute;
	font-family:Gaegu;
	text-align:left;
	font-size:60px;
	left:445px;
}
.e1_9 {
	color:rgba(0, 0, 0, 1);
	position:absolute;
	left:210px;
	top:235px;
	font-family:Gaegu;
	text-align:center;
	font-size:50px;

}
.e1_10 {
	color:rgba(0, 0, 0, 1);
	position:absolute;
	left:695px;
	top:235px;
	font-family:Gaegu;
	text-align:center;
	font-size:50px;
	letter-spacing:0;
}
.e1_11 {
	color:rgba(0, 0, 0, 1);
	position:absolute;
	left:1210px;
	top:235px;
	font-family:Gaegu;
	text-align:center;
	font-size:50px;
	letter-spacing:0;
}
.e1_12 {
	color:rgba(0, 0, 0, 1);
	position:absolute;
	left:210px;
	top:545px;
	font-family:Gaegu;
	text-align:center;
	font-size:50px;
	letter-spacing:0;
}
.e1_13 {
	color:rgba(0, 0, 0, 1);
	position:absolute;
	left:695px;
	top:545px;
	font-family:Gaegu;
	text-align:center;
	font-size:50px;
	letter-spacing:0;
}
.e1_14 {
	color:rgba(0, 0, 0, 1);
	position:absolute;
	left:1210px;
	top:545px;
	font-family:Gaegu;
	text-align:center;
	font-size:50px;
	letter-spacing:0;
}
